<div class="jumbotron">
  <h1 class="title">18K Offer</h1>

  <p class="slogan">18K Offer 是一个提供18K薪水工作机会的求职网站。
  <br>
  我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作。
  <br>
   凭借自己的努力和天份也会变 Winner

  </p>

  <p class="lead"><a class="btn btn-lg btn-info" href="/jobs">马上应征</a></p>
</div>

<section id="company" class="bg-white section-p-sm">
  <div class="container reveal-bottom-opacity">
    <div class="row">
        <div class="row">

          <div class="col-sm-4 wrapper-v-sm block-line">


            <div class="block text-left" id="footer-text">
              <p>
                <i class="fa fa-map fa-fw" aria-hidden="true"></i>
                北京市朝阳区，建外SOHO
              </p>
            </div>

          </div>

          <div class="col-sm-4 wrapper-v-sm block-line">
                <p>
                  <i class="fa fa-envelope-open fa-fw" aria-hidden="true"></i>
                   <a href="mailto:18koffer@gmail.com?subject=">18koffer@gmail.com</a>
                </p>

          </div>

          <div class="col-sm-4 wrapper-v-sm ">

            <p>
              <i class="fa fa-phone-square fa-fw" aria-hidden="true"></i>010-66668888
            </p>

          </div>

        </div>

    </div>
  </div>
</section>
